body{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    color:rgb(207, 54, 84);
}